<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mju.ugomall.mapper.CategoryMapper">

    <resultMap type="com.edu.mju.ugomall.entity.Category" id="CategoryMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="keywords" column="keywords" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="pid" column="pid" jdbcType="INTEGER"/>
        <result property="iconUrl" column="icon_url" jdbcType="VARCHAR"/>
        <result property="picUrl" column="pic_url" jdbcType="VARCHAR"/>
        <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
        <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="CategoryMap">
        select
          id, name, keywords, description, pid, icon_url, pic_url, sort_order, add_time, update_time, deleted
        from mall.category
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="CategoryMap">
        select
          id, name, keywords, description, pid, icon_url, pic_url, sort_order, add_time, update_time, deleted
        from mall.category
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="CategoryMap">
        select
          id, name, keywords, description, pid, icon_url, pic_url, sort_order, add_time, update_time, deleted
        from mall.category
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="keywords != null and keywords != ''">
                and keywords = #{keywords}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="pid != null">
                and pid = #{pid}
            </if>
            <if test="iconUrl != null and iconUrl != ''">
                and icon_url = #{iconUrl}
            </if>
            <if test="picUrl != null and picUrl != ''">
                and pic_url = #{picUrl}
            </if>
            <if test="sortOrder != null">
                and sort_order = #{sortOrder}
            </if>
            <if test="addTime != null">
                and add_time = #{addTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into mall.category(name, keywords, description, pid, icon_url, pic_url, sort_order, add_time, update_time, deleted)
        values (#{name}, #{keywords}, #{description}, #{pid}, #{iconUrl}, #{picUrl}, #{sortOrder}, #{addTime}, #{updateTime}, #{deleted})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update mall.category
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="keywords != null and keywords != ''">
                keywords = #{keywords},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="pid != null">
                pid = #{pid},
            </if>
            <if test="iconUrl != null and iconUrl != ''">
                icon_url = #{iconUrl},
            </if>
            <if test="picUrl != null and picUrl != ''">
                pic_url = #{picUrl},
            </if>
            <if test="sortOrder != null">
                sort_order = #{sortOrder},
            </if>
            <if test="addTime != null">
                add_time = #{addTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from mall.category where id = #{id}
    </delete>

    <select id="getList" resultMap="CategoryMap">
        SELECT * FROM category
        WHERE 1 = 1
    </select>

    <delete id="deleteByBatch">
        DELETE FROM category
        WHERE id
        IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>