<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mju.ugomall.mapper.CollectMapper">

    <resultMap type="com.edu.mju.ugomall.entity.Collect" id="CollectMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="valueId" column="value_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="CollectMap">
        select
          id, user_id, value_id, type, add_time, update_time, deleted
        from mall.collect
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="CollectMap">
        select
          id, user_id, value_id, type, add_time, update_time, deleted
        from mall.collect
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="CollectMap">
        select
          id, user_id, value_id, type, add_time, update_time, deleted
        from mall.collect
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="valueId != null">
                and value_id = #{valueId}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="addTime != null">
                and add_time = #{addTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into mall.collect(user_id, value_id, type, add_time, update_time, deleted)
        values (#{userId}, #{valueId}, #{type}, #{addTime}, #{updateTime}, #{deleted})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update mall.collect
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="valueId != null">
                value_id = #{valueId},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="addTime != null">
                add_time = #{addTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from mall.collect where id = #{id}
    </delete>

    <!--全部查询方法-->
    <select id="getCollectInfo" resultMap="CollectMap">
        select * from collect
        where 1 = 1
        <if test="userId != null and userId != &quot;&quot; and userId != ''">
            and user_id like concat ('%',#{userId},'%')
        </if>
        <if test="goodsId != null and goodsId != &quot;&quot; and goodsId != ''">
            and value_id like concat ('%',#{goodsId},'%')
        </if>
    </select>

    <select id="getUserCollection" resultMap="CollectMap">
        select * from collect
        where 1 = 1
        <if test="userId != null and userId != &quot;&quot; and userId != ''">
            and user_id like concat ('%',#{userId},'%')
        </if>
    </select>

    <delete id="deleteByValueId">
        delete from collect
        where
        <if test="valueId != null">
            value_id = #{valueId}
        </if>
    </delete>
    <!--判断用户是否收藏商品-->
    <select id="isExist" resultType="int">
        select count(1) from collect
        where
        <if test="userId != null and userId !=''">
            user_id = #{userId}
        </if>
        <if test="valueId != null and valueId != ''">
            and value_id = #{valueId}
        </if>
    </select>
    <!--取消收藏-->
    <delete id="cancelCollect">
        delete from collect
        where
        <if test="userId != null and userId !=''">
            user_id = #{userId}
        </if>
        <if test="valueId != null and valueId != ''">
            and value_id = #{valueId}
        </if>
    </delete>

</mapper>