<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mju.ugomall.mapper.GoodsSpecificationMapper">

    <resultMap type="com.edu.mju.ugomall.entity.GoodsSpecification" id="GoodsSpecificationMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="goodsId" column="goods_id" jdbcType="INTEGER"/>
        <result property="specification" column="specification" jdbcType="VARCHAR"/>
        <result property="value" column="value" jdbcType="VARCHAR"/>
        <result property="picUrl" column="pic_url" jdbcType="VARCHAR"/>
        <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="price" column="price" jdbcType="VARCHAR"/>
        <result property="num" column="num" jdbcType="VARCHAR"/>

    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="GoodsSpecificationMap">
        select
          id, goods_id, specification, value, pic_url, add_time, update_time, deleted,price,num
        from mall.goods_specification
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="GoodsSpecificationMap">
        select
          id, goods_id, specification, value, pic_url, add_time, update_time, deleted,price,num
        from mall.goods_specification
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="GoodsSpecificationMap">
        select
        id, goods_id, specification, value, pic_url, add_time, update_time, deleted,price,num
        from mall.goods_specification
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="goodsId != null">
                and goods_id = #{goodsId}
            </if>
            <if test="specification != null and specification != ''">
                and specification = #{specification}
            </if>
            <if test="value != null and value != ''">
                and value = #{value}
            </if>
            <if test="picUrl != null and picUrl != ''">
                and pic_url = #{picUrl}
            </if>
            <if test="addTime != null">
                and add_time = #{addTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="num != null">
                and num = #{num}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into mall.goods_specification(goods_id, specification, value, pic_url, add_time, update_time, deleted,price,num)
        values (#{goodsId}, #{specification}, #{value}, #{picUrl}, #{addTime}, #{updateTime}, #{deleted}, #{price}, #{num})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update mall.goods_specification
        <set>
            <if test="goodsId != null">
                goods_id = #{goodsId},
            </if>
            <if test="specification != null and specification != ''">
                specification = #{specification},
            </if>
            <if test="value != null and value != ''">
                value = #{value},
            </if>
            <if test="picUrl != null and picUrl != ''">
                pic_url = #{picUrl},
            </if>
            <if test="addTime != null">
                add_time = #{addTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="num != null">
                num = #{num},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from mall.goods_specification where id = #{id}
    </delete>

    <select id="getList" resultMap="GoodsSpecificationMap">
        select * from goods_specification where 1 = 1
    </select>

    <select id="getByGoodsId" resultMap="GoodsSpecificationMap">
        select * from  goods_specification where goods_id = #{goodsId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByGoodsId">
        delete from goods_specification where goods_id = #{goodsId,jdbcType=VARCHAR}
    </delete>
    <update id="updateNum"></update>
    <!--查找出相应规格的商品-->
    <select id="getByNameAndSpecification" resultMap="GoodsSpecificationMap">
        select * from goods_specification
        where
        <if test="goodsId != null and goodsId != ''">
            goods_id = #{goodsId,jdbcType=VARCHAR}
        </if>
        <if test="value != null and value != ''">
            and value = #{value,jdbcType=VARCHAR}
        </if>
        <if test="specification != null and specification != ''">
            and specification = #{specification,jdbcType=VARCHAR}
        </if>
    </select>

</mapper>